In [11]:
# Import Libaries

import requests
import json
import pandas as pd

#Create function to pull JSON data from CDC API

def CDC_Pull (ThemeId,ThemeSubClassId):
    url = "https://nccd.cdc.gov/DHDSPAtlas/proxy.ashx?https://proxy/api/data"
    payload = json.dumps({
      "CountyVersion": "2018",
      "GeographyType": "county",
      "ParentGeographyFilter": "",
      "ThemeClassId": 2,
      "ThemeFilterOptions": [],
      "ThemeId": ThemeId,
      "ThemeSubClassId": ThemeSubClassId,
    }, indent=4)
    headers = {
      'Content-Type': 'application/json',
      'Cookie': 'TS01ae363a=015d0abe8785e5b669589a99d047712fb1a00a60e1bccd9ee6909e7b2919ccad01d4b5ace6a65d1b843858eac8ee73347cee59aaf5'
    }
    response = requests.request("POST", url, headers=headers, data=payload)
    return response

# Request for the Percent of populaiton with less than a high shcool education by County

Percent_Pop_LessHS_TID = 36
Sub_ID = 12

#Ensure correct JSON formatting

res = CDC_Pull(Percent_Pop_LessHS,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_HS = pd.json_normalize(res['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_HS = Json_DF_HS.rename(columns={'Value': 'Percent of Population with less than Highschool education'})
json_df_HS

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Percent of Population with less than Highschool education
0,None,American Samoa,60000,AS,0,-1.0
1,None,Guam,66010,GU,0,-1.0
2,None,Mariana Islands,69000,MP,0,-1.0
3,None,Saint Croix (County Equivalent),78010,VI,0,-1.0
4,None,Saint John (County Equivalent),78020,VI,0,-1.0
...,...,...,...,...,...,...
3221,None,Hudspeth,48229,TX,5,46.1
3222,None,Presidio,48377,TX,5,47.6
3223,None,Starr,48427,TX,5,48.5
3224,None,Maricao,72093,PR,5,48.8
3225,None,Kenedy,48261,TX,5,66.3

In [12]:
# Request for the Percent Population with less than a college education by County
College_ED_Pop_TID = 37
Sub_ID = 12
#Ensure correct JSON formatting

res_CED = CDC_Pull(College_ED_Pop_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_CED = pd.json_normalize(res_CED['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_CED= Json_DF_CED.rename(columns={'Value': 'Percent of Population with less than College Education'})
json_df_CED

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Percent of Population with less than College Education
0,None,American Samoa,60000,AS,0,-1.0
1,None,Guam,66010,GU,0,-1.0
2,None,Mariana Islands,69000,MP,0,-1.0
3,None,Saint Croix (County Equivalent),78010,VI,0,-1.0
4,None,Saint John (County Equivalent),78020,VI,0,-1.0
...,...,...,...,...,...,...
3221,None,Kenedy,48261,TX,5,93.2
3222,None,Issaquena,28055,MS,5,93.3
3223,None,McDowell,54047,WV,5,94.6
3224,None,Kusilvak,02158,AK,5,95.2
3225,None,Loving,48301,TX,5,100.0

In [13]:
# Request for the Percent of Households with a feamale as head of house by County
Female_Headed_Pop_TID = 32
Sub_ID = 12
#Ensure correct JSON formatting

res_FH = CDC_Pull(Female_Headed_Pop_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_FH = pd.json_normalize(res_FH['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_FH = Json_DF_FH.rename(columns={'Value': 'Percent of Female-Headed households'})
json_df_FH

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Percent of Female-Headed households
0,None,American Samoa,60000,AS,0,-1.0
1,None,Guam,66010,GU,0,-1.0
2,None,Mariana Islands,69000,MP,0,-1.0
3,None,Saint Croix (County Equivalent),78010,VI,0,-1.0
4,None,Saint John (County Equivalent),78020,VI,0,-1.0
...,...,...,...,...,...,...
3221,None,Claiborne,28021,MS,5,31.6
3222,None,Humphreys,28053,MS,5,34.1
3223,None,Todd,46121,SD,5,34.3
3224,None,Holmes,28051,MS,5,36.2
3225,None,Oglala Lakota,46102,SD,5,40.8

In [15]:
# Request for the Percent of population on food subsidies by County
Food_Stamp_Pop_TID = 41
Sub_ID = 12
#Ensure correct JSON formatting

res_FS = CDC_Pull(Food_Stamp_Pop_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_FS = pd.json_normalize(res_FS['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_FS = Json_DF_FS.rename(columns={'Value': 'Percent of Population on Food Stamps/SNAP'})
json_df_FS

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Percent of Population on Food Stamps/SNAP
0,None,Kalawao,15005,HI,0,-1.0
1,None,American Samoa,60000,AS,0,-1.0
2,None,Guam,66010,GU,0,-1.0
3,None,Mariana Islands,69000,MP,0,-1.0
4,None,Adjuntas,72001,PR,0,-1.0
...,...,...,...,...,...,...
3221,None,Owsley,21189,KY,5,44.8
3222,None,Humphreys,28053,MS,5,45.3
3223,None,Todd,46121,SD,5,54.5
3224,None,Oglala Lakota,46102,SD,5,55.7
3225,None,Kusilvak,02158,AK,5,57.6

In [16]:
# Request for the Percent of Median Home Value by County
Median_Home_Value_TID = 35
Sub_ID = 12
#Ensure correct JSON formatting

res_HV = CDC_Pull(Median_Home_Value_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_HV = pd.json_normalize(res_HV['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_HV = Json_DF_HV.rename(columns={'Value': 'Median Home Value'})
json_df_HV

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Median Home Value
0,None,Kalawao,15005,HI,0,-1.0
1,None,Loving,48301,TX,0,-1.0
2,None,American Samoa,60000,AS,0,-1.0
3,None,Guam,66010,GU,0,-1.0
4,None,Mariana Islands,69000,MP,0,-1.0
...,...,...,...,...,...,...
3221,None,New York,36061,NY,5,945000.0
3222,None,Marin,06041,CA,5,959000.0
3223,None,San Mateo,06081,CA,5,994000.0
3224,None,San Francisco,06075,CA,5,1010000.0
3225,None,Nantucket,25019,MA,5,1057000.0

In [18]:
# Request for the Percent of Median Home Value by County
Median_House_Hold_Income_Value_TID = 54
Sub_ID = 12
#Ensure correct JSON formatting

res_HHI = CDC_Pull(Median_House_Hold_Income_Value_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_HHI = pd.json_normalize(res_HHI['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_HHI = Json_DF_HHI.rename(columns={'Value': 'Median Household Income'})
json_df_HHI

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Median Household Income
0,None,Kalawao,15005,HI,0,-1.0
1,None,American Samoa,60000,AS,0,-1.0
2,None,Guam,66010,GU,0,-1.0
3,None,Mariana Islands,69000,MP,0,-1.0
4,None,Adjuntas,72001,PR,0,-1.0
...,...,...,...,...,...,...
3221,None,Marin,06041,CA,5,123000.0
3222,None,Los Alamos,35028,NM,5,125000.0
3223,None,Santa Clara,06085,CA,5,126000.0
3224,None,Falls Church,51610,VA,5,138000.0
3225,None,Loudoun,51107,VA,5,140000.0

In [20]:
# Request for the Percent of Median Home Value by County
Income_Inequality_TID = 60
Sub_ID = 12
#Ensure correct JSON formatting

res_II = CDC_Pull(Income_Inequality_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_II = pd.json_normalize(res_II['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_II = Json_DF_II.rename(columns={'Value': 'Income Inequality using the Gini Index'})
json_df_II

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Income Inequality using the Gini Index
0,None,Rio Arriba,35039,NM,0,-1.000
1,None,American Samoa,60000,AS,0,-1.000
2,None,Guam,66010,GU,0,-1.000
3,None,Mariana Islands,69000,MP,0,-1.000
4,None,Saint Croix (County Equivalent),78010,VI,0,-1.000
...,...,...,...,...,...,...
3221,None,Mayaguez,72097,PR,5,0.611
3222,None,San Juan,72127,PR,5,0.618
3223,None,Perry,47135,TN,5,0.625
3224,None,Harding,35021,NM,5,0.629
3225,None,East Carroll,22035,LA,5,0.665

In [21]:
# Request for the Percent of Median Home Value by County
Poverty_Percent_TID = 52
Sub_ID = 12
#Ensure correct JSON formatting

res_PP = CDC_Pull(Poverty_Percent_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_PP = pd.json_normalize(res_PP['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_PP = Json_DF_PP.rename(columns={'Value': 'Percent of the population below the poverty line'})
json_df_PP

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Percent of the population below the poverty line
0,None,Kalawao,15005,HI,0,-1.0
1,None,American Samoa,60000,AS,0,-1.0
2,None,Guam,66010,GU,0,-1.0
3,None,Mariana Islands,69000,MP,0,-1.0
4,None,Adjuntas,72001,PR,0,-1.0
...,...,...,...,...,...,...
3221,None,Crowley,08025,CO,5,44.3
3222,None,East Carroll,22035,LA,5,45.7
3223,None,Buffalo,46017,SD,5,45.7
3224,None,Todd,46121,SD,5,48.4
3225,None,Oglala Lakota,46102,SD,5,54.0

In [23]:
# Request for the Percent of Median Home Value by County
Unemployment_Rate_TID = 33
Sub_ID = 12
#Ensure correct JSON formatting

res_UMPR = CDC_Pull(Unemployment_Rate_TID,Sub_ID).json()

# Convert RAW JSON into DataFrame

Json_DF_UMPR = pd.json_normalize(res_UMPR['Data'])

# Rename Value to Correct Column title, will change for every COl
## Display DataFrame

json_df_UMPR = Json_DF_UMPR.rename(columns={'Value': 'Unemployment Rate'})
json_df_UMPR

,CensusTractName,DisplayText,Key,ParentText,ThemeRangeId,Unemployment Rate
0,None,Kalawao,15005,HI,0,-1.0
1,None,American Samoa,60000,AS,0,-1.0
2,None,Guam,66010,GU,0,-1.0
3,None,Mariana Islands,69000,MP,0,-1.0
4,None,Saint Croix (County Equivalent),78010,VI,0,-1.0
...,...,...,...,...,...,...
3221,None,Vieques,72147,PR,5,16.5
3222,None,Yuma,04027,AZ,5,17.0
3223,None,Patillas,72109,PR,5,17.7
3224,None,Imperial,06025,CA,5,18.1
3225,None,Kusilvak,02158,AK,5,19.9